### Imports

In [37]:
from sqlalchemy import create_engine, ForeignKey, Column, String, Integer, CHAR
from sqlalchemy.orm import sessionmaker, declarative_base

### Code for Defining a Base Class with SQLAlchemy

In [38]:
Base = declarative_base()

### Create a new classes that will map to the table in the database

In [39]:
class Person(Base):
    __tablename__ = "people"
    
    id = Column("id", Integer, primary_key=True)
    name = Column("name", String)
    age = Column("age", Integer)
    
    def __init___(self, id, name, age):
        self.id = id
        self.name = name
        self.age = age
        
    def __repr__(self):
        return f"({self.id}, {self.name}, {self.age})"
    
    
    
class Thing(Base):
    __tablename__ = "things"
    
    tid = Column("tid", Integer, primary_key=True)
    description = Column("description", String)
    owner_id = Column("owner_id", Integer, ForeignKey("people.id"))
    
    
    def __init__(self, tid, description, owner_id):
        self.tid = tid
        self.description = description
        self.owner_id = owner_id
        
    def __repr__(self):
        return f"({self.tid}, {self.description}, {self.owner_id})"

In [43]:
# Erstellen Sie den Engine
engine = create_engine("sqlite:///football.db", echo=True)

# Drop alle Tabellen (Vorsicht: Dies l√∂scht alle Daten!)
Base.metadata.drop_all(bind=engine)

# Erstelle alle Tabellen erneut
Base.metadata.create_all(bind=engine)

2024-03-05 11:06:25,219 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-03-05 11:06:25,221 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("people")
2024-03-05 11:06:25,221 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-05 11:06:25,223 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("things")
2024-03-05 11:06:25,224 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-05 11:06:25,225 INFO sqlalchemy.engine.Engine
DROP TABLE things
2024-03-05 11:06:25,225 INFO sqlalchemy.engine.Engine [no key 0.00035s] ()
2024-03-05 11:06:25,227 INFO sqlalchemy.engine.Engine
DROP TABLE people
2024-03-05 11:06:25,227 INFO sqlalchemy.engine.Engine [no key 0.00043s] ()
2024-03-05 11:06:25,229 INFO sqlalchemy.engine.Engine COMMIT
2024-03-05 11:06:25,230 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-03-05 11:06:25,231 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("people")
2024-03-05 11:06:25,232 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-05 11:06:25,232 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("people")
2024-03-05 11:06:25,232 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-05 11:06:25,233 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("things")
2024-03-05 11:06:25,233 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-05 11:06:25,234 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("things")
2024-03-05 11:06:25,235 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-03-05 11:06:25,237 INFO sqlalchemy.engine.Engine
CREATE TABLE people (
	id INTEGER NOT NULL,
	name VARCHAR,
	age INTEGER,
	PRIMARY KEY (id)
)


2024-03-05 11:06:25,237 INFO sqlalchemy.engine.Engine [no key 0.00040s] ()
2024-03-05 11:06:25,239 INFO sqlalchemy.engine.Engine
CREATE TABLE things (
	tid INTEGER NOT NULL,
	description VARCHAR,
	owner_id INTEGER,
	PRIMARY KEY (tid),
	FOREIGN KEY(owner_id) REFERENCES people (id)
)


2024-03-05 11:06:25,239 INFO sqlalchemy.engine.Engine [no key 0.00030s] ()
2024-03-05 11:06:25,241 INFO sqlalchemy.engine.Engine COMMIT

In [41]:
Session = sessionmaker(bind=engine)
seesion = Session()